@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

$fontOne: "Lemon", serif;
$fontTwo: "Roboto", sans-serif;
$fontThree: "Nunito", sans-serif;

body {
  padding: 0;
  margin: 0;
}
//  navbar
.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 14vh;
  transition: all 500ms ease-in-out;
  background-color: #000;
  z-index: 10;

  .navbar-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;

    .navbar-Links {
      display: flex;

      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row;
        text-align: center;
        align-items: center;
        gap: 25px;

        li {
          display: flex;
          flex-direction: column;

          a {
            text-decoration: none;
            font-family: $fontThree;
            font-size: 2.7rem;
            font-style: bold;
            color: white;
            -webkit-text-stroke: white 1px;
            font-weight: 600;
            transition: all 250ms ease-in-out;
          }

          #nav-Icons {
            font-size: 3.1rem;
            font-style: bold;
            color: white;
            -webkit-text-stroke: rgb(88, 15, 15) 1px;
            font-weight: 600;
            transition: all 250ms ease-in-out;
          }

          &:hover {
            cursor: pointer;

            a {
              color: rgb(82, 81, 81);
              -webkit-text-stroke: rgb(82, 81, 81) 1px;
            }

            #nav-Icons {
              color: rgb(82, 81, 81);
              -webkit-text-stroke: rgb(82, 81, 81) 1px;
            }
          }
        }
      }
    }
  }

  .nav-Btn-Line {
    position: absolute;
    height: 110%;
    background-color: black;
    width: 5px;
    top: 50%;
    left: 10%;
    transition: all 500ms ease-in-out;

    .nav-Btn-Box {
      position: absolute;
      background-color: black;
      height: 50px;
      border-radius: 15px 15px 5px 5px;
      width: 40px;
      position: relative;
      top: 100%;
      left: 50%;
      transform: translate(-50%);
      transition: all 100ms ease-in-out;
    }
  }

  .nav-Btn-Line:hover {
    cursor: pointer;

    .nav-Btn-Box {
      filter: drop-shadow(1px 1px 5px black);

      &:active {
        filter: drop-shadow(1px 1px 5px rgb(190, 189, 189));
      }
    }
  }
}

.navbar.active {
  height: 20vh;
  transform: translateY(-99%);
}

.nav-Btn-Line.active {
  height: 80%;
  z-index: 1;

  .nav-Btn-Box {
    top: 90%;
    z-index: 1;
  }
}
//  navbar responsvness
@media screen and (max-width: 900px) {
  .navbar {
    width: 100%;

    .navbar-Wrap {
      width: 95%;
      height: 90%;
      .navbar-Links {
        ul {
          gap: 35px;

          li {
            a {
              font-size: 1.7rem;
            }

            #nav-Icons {
              font-size: 2.1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    .navbar-Wrap {
      z-index: 5;
      .navbar-Links {
        ul {
          gap: 25px;

          li {
            a {
              font-size: 1rem;
              -webkit-text-stroke: rgb(88, 15, 15) 0px;
            }

            #nav-Icons {
              font-size: 1rem;
              -webkit-text-stroke: rgb(88, 15, 15) 0px;
            }
          }
        }
      }
    }
  }

  .nav-Btn-Line.active {
    z-index: 1;
  }
}
