@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

$fontOne: "Lemon", serif;
$fontTwo: "Roboto", sans-serif;
$fontThree: "Nunito", sans-serif;

body {
  padding: 0;
  margin: 0;
}
//  navbar
.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 14vh;
  background-color: #000;
  z-index: 10;
  transition: all 150ms ease-in;
  transform: translateY(0%);

  .navbar-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    transition: all 150ms ease-in;
    padding: 15px;

    .navbar-Links {
      display: flex;

      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row;
        text-align: center;
        align-items: center;
        gap: 25px;
        transition: all 150ms ease-in;

        li {
          opacity: 0;
          display: flex;
          padding: 0;
          margin: 0;
          flex-direction: column;
          transition: all 150ms ease-in;

          a {
            text-decoration: none;
            font-family: $fontThree;
            font-size: 2.7rem;
            font-style: bold;
            color: white;
            -webkit-text-stroke: white 1px;
            font-weight: 600;
            transition: all 150ms ease-in;
          }

          #nav-Icons {
            font-size: 3.1rem;
            font-style: bold;
            color: white;
            -webkit-text-stroke: rgb(88, 15, 15) 1px;
            font-weight: 600;
            transition: all 150ms ease-in;
          }

          &:hover {
            cursor: pointer;

            a {
              color: rgb(82, 81, 81);
              -webkit-text-stroke: rgb(82, 81, 81) 1px;
            }

            #nav-Icons {
              color: rgb(82, 81, 81);
              -webkit-text-stroke: rgb(82, 81, 81) 1px;
            }
          }
        }

        li.active {
          display: flex;
          opacity: 1;
        }
      }
    }
  }

  .nav-Btn-Line {
    position: absolute;
    height: 90%;
    background-color: black;
    width: 5px;
    top: 50%;
    left: 10%;
    transition: all 150ms ease-in;
    z-index: 1;

    .nav-Btn-Box {
      background-color: black;
      height: 50px;
      border-radius: 15px 15px 5px 5px;
      width: 40px;
      position: relative;
      top: 100%;
      left: 50%;
      transform: translate(-50%);
      transition: all 150ms ease-in;
      z-index: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// active buttons
.navbar.active {
  height: 20vh;
  transform: translateY(-55%);

  .nav-Btn-Line.active {
    height: 65%;

    .nav-Btn-Box {
      top: 90%;
    }
  }
}

//  navbar responsvness
@media screen and (max-width: 1024px) {
  .navbar {
    .navbar-Wrap {
      .navbar-Links {
        ul {
          gap: 35px;

          li {
            a {
              font-size: 1.7rem;
            }

            #nav-Icons {
              font-size: 2.1rem;
            }
          }
        }
      }
    }

    .nav-Btn-Line.active {
      height: auto;

      .nav-Btn-Box {
        top: auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .navbar-Wrap {
      .navbar-Links {
        ul {
          gap: 25px;

          li {
            a {
              font-size: 1rem;
              -webkit-text-stroke: white 0;
            }

            #nav-Icons {
              font-size: 1rem;
              -webkit-text-stroke: white 0;
            }
          }
        }
      }
    }

    .nav-Btn-Line.active {
      height: auto;

      .nav-Btn-Box {
        top: auto;
      }
    }
  }
}
// Header
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333;

  .header-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .header-Titles-Wrap {
      position: relative;
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .header-Title-Text {
        font-size: 7rem;
        -webkit-text-stroke: white 7px;
        letter-spacing: 2px;
        margin: 0;
        filter: drop-shadow(5px 5px 1px black);
        font-family: $fontThree;
        color: white;
      }

      #header-Icons {
        color: #a79a2d;
        transform: scale(2);
        font-size: 15rem;
        filter: drop-shadow(5px 5px 1px black);
        transition: all 200ms ease-in-out;
        opacity: 0;
        position: absolute;
        padding: 0;
        margin: 0;
      }

      #header-Icons.active {
        transform: scale(1);
        opacity: 1;
        padding: 0;
        margin: 0;
      }
    }
  }
}
//  header responsvness
@media screen and (max-width: 1000px) {
  .header {
    .header-Wrap {
      gap: 2rem;

      .header-Titles-Wrap {
        .header-Title-Text {
          font-size: 4rem;
        }

        #header-Icons {
          font-size: 10rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header-Wrap {
      gap: 0;

      .header-Titles-Wrap {
        height: 15%;

        .header-Title-Text {
          font-size: 2rem;
          -webkit-text-stroke: white 2px;
        }

        #header-Icons {
          font-size: 5rem;
        }
      }
    }
  }
}
// meals
.meals {
  // height: 100vh;
  height: clamp(400px, 100%, 1000px);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;

  .meals-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    .meals-Top {
      height: 30%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .meals-Top-Title-Wrap {
        display: flex;
        margin-top: 5rem;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        .header-Title-Text {
          font-size: 7rem;
          -webkit-text-stroke: white 5px;
          letter-spacing: 2px;
          margin: 0;
          filter: drop-shadow(5px 5px 1px black);
          font-family: $fontThree;
          color: white;
        }
      }
    }

    .meals-Bottom {
      width: 100%;
      height: 70%;
      margin-bottom: 5rem;

      .meals-Bottom-Wrap {
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 5rem;

        .meal-Book {
          height: 450px;
          width: 250px;
          background-color: #a79a2d;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: space-around;
          transform: rotate(1deg);
          position: relative;
          transition: all 550ms ease-in-out;
          filter: drop-shadow(15px 15px 15px black);
          margin: 1rem;

          .meal-Book-Img-Wrap {
            height: 50%;
            width: 100%;

            .meal-Book-Img {
              height: 100%;
              object-fit: cover;
            }
          }

          .meal-Book-Texts-Wrap {
            .meal-Book-Name {
              font-family: $fontThree;
              font-size: 1.5rem;
              -webkit-text-stroke: black 1px;
            }

            .meal-Book-Btn {
              width: 150px;
              height: 35px;
              background-color: #333;
              border-radius: 15px;
              border: none;
              font-family: $fontThree;
              font-size: 1rem;
              transform: rotate(0.5deg);
              -webkit-text-stroke: #000 1px;
              transition: all 250ms ease-in-out;

              &:hover {
                cursor: pointer;
                background-color: #818181;
              }
            }
          }

          &::before {
            position: absolute;
            content: "";
            left: -10px;
            bottom: 5px;
            background-color: #8f8317;
            height: 100%;
            width: 10px;
            transform: skewY(40deg);
          }

          &::after {
            position: absolute;
            content: "";
            top: -10px;
            left: -5px;
            background-color: #8f8317;
            height: 10px;
            width: 100%;
            transform: skewX(40deg);
          }

          &:hover {
            cursor: pointer;
            transform: translateY(-5%);
          }
        }
      }
    }
  }
}
// meals responsvness
@media screen and (max-width: 768px) {
  .meals {
    .meals-Wrap {
      .meals-Top {
        .meals-Top-Title-Wrap {
          .header-Title-Text {
            font-size: 2.5rem;
            -webkit-text-stroke: white 3px;
          }
        }
      }
    }
  }
}
//  menu
.menu {
  height: clamp(500px, 100%, 1500px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333;

  .menu-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .menu-Top {
      margin-top: 5rem;
      height: 20%;
      width: 100%;
      margin-bottom: 5rem;

      .menu-Top-Title-Wrap {
        .menu-Title-Text {
          font-size: 7rem;
          -webkit-text-stroke: white 7px;
          letter-spacing: 2px;
          margin: 0;
          filter: drop-shadow(5px 5px 1px black);
          font-family: $fontThree;
          color: white;
        }
      }
    }

    .menu-Bottom {
      height: 70%;
      width: 100%;
      margin-top: 5rem;
      margin-bottom: 5rem;

      .menu-Bottom-Wrap {
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        flex-wrap: wrap;

        .menu-Card {
          margin: 1rem;
          height: 250px;
          width: 400px;
          border: solid white 2px;
          box-shadow: 0.2rem 0.3rem #2748ff, 0.3rem 0.4rem #851212,
            0.4rem 0.5rem #838512;
          position: relative;
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          transition: all 250ms ease-in-out;
          overflow: hidden;

          .menu-Card-Imgs {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            height: 100%;
            width: 100%;
          }

          .menu-Card-Title-Wrap {
            width: 90%;
            text-align: start;
            opacity: 0;
            transition: all 250ms ease-in-out;
            backdrop-filter: brightness(100%) blur(0);
            position: relative;
            z-index: 2;

            .menu-Card-Text-1 {
              font-family: $fontThree;
              font-size: 1.2rem;
              color: white;
              backdrop-filter: brightness(100%) blur(0);
            }

            .menu-Card-Text-2 {
              font-family: $fontThree;
              font-size: 1.1rem;
              letter-spacing: 4px;
              color: white;
              font-weight: 500;
              backdrop-filter: brightness(100%) blur(0);
            }
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 0%;
            height: 0%;
            left: 0;
            z-index: 1;
            filter: blur(55px);
            background-color: rgba(36, 36, 36, 0.678);
            transition: all 250ms ease-in-out;
          }

          &::after {
            content: "";
            position: absolute;
            top: 1rem;
            height: 2px;
            width: 0%;
            z-index: 2;
            left: 0;
            background-color: white;
            transition: all 500ms ease-in-out;
          }
        }

        .menu-Card:hover {
          box-shadow: 0.2rem 0.5rem 0.4rem #2748ff, 0.3rem 0.5rem 0.5rem #851212,
            0.4rem 0.5rem 0.6rem #838512;
          transform: translateY(-5%);
          cursor: pointer;

          .menu-Card-Title-Wrap {
            opacity: 1;
            position: relative;
            z-index: 15;
          }

          &::before {
            width: 100%;
            height: 100%;
            filter: blur(100);
          }

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
// menu responsvness
@media screen and (max-width: 768px) {
  .menu {
    .menu-Wrap {
      .menu-Top {
        .menu-Top-Title-Wrap {
          .menu-Title-Text {
            font-size: 3.6rem;
            -webkit-text-stroke: white 2px;
          }
        }
      }

      .menu-Bottom {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .menu-Bottom-Wrap {
          height: 95%;
          width: 95%;

          .menu-Card {
            .menu-Card-Title-Wrap {
              .menu-Card-Text-1 {
                font-size: 0.9rem;
                color: white;
              }

              .menu-Card-Text-2 {
                font-size: 0.9rem;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
// contact
.contact {
  height: 15vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #222;

  .contact-Wrap {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 65%;
    height: 90%;
    justify-content: space-between;

    .contact-Left {
      display: flex;
      flex-direction: column;
      text-align: start;
      align-items: start;
      justify-content: center;
      padding: 0;
      margin: 0;

      .contact-Left-Text-1 {
        padding: 0;
        margin: 0;
        font-family: $fontOne;
        color: #838512;
        font-size: 3rem;
        font-weight: 50;
        text-shadow: 0.2rem 0.2rem black;
      }

      .contact-Left-Text-2 {
        padding: 0;
        margin: 0;
        font-family: $fontThree;
        color: rgb(172, 170, 170);
        font-size: 1rem;
        font-weight: 600;
      }
    }

    .contact-Right,
    .contact-Right-Input-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 350px;
      height: 40px;

      .contact-Right-Text-Input {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-left: 15px;
        margin: 0;
        border: solid #838512 2px;
        outline: none;
      }

      .contact-Right-Btn {
        position: absolute;
        height: 35px;
        width: 35px;
        right: 0;
        color: #838512;
        background-color: #333;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 150ms ease-in-out;

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
//  contact responsvness
@media screen and (max-width: 1150px) {
  .contact {
    .contact-Wrap {
      width: 95%;
    }
  }
}

@media screen and (max-width: 900px) {
  .contact {
    height: 25vh;

    .contact-Wrap {
      flex-direction: column;
      width: 95%;
      justify-content: space-evenly;

      .contact-Left {
        text-align: center;
        align-items: center;
        justify-content: center;

        .contact-Left-Text-1 {
          font-size: 1.5rem;
        }

        .contact-Left-Text-2 {
          font-size: 0.8rem;
        }
      }

      .contact-Right,
      .contact-Right-Input-Wrap {
        width: 250px;
        height: 30px;

        .contact-Right-Btn {
          height: 25px;
          width: 25px;

          font-size: 1rem;
        }
      }
    }
  }
}
