@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 14vh;
  background-color: #000;
  z-index: 10;
  transition: all 150ms ease-in;
  transform: translateY(0%);
}

.navbar .navbar-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  transition: all 150ms ease-in;
  padding: 15px;
}

.navbar .navbar-Wrap .navbar-Links {
  display: flex;
}

.navbar .navbar-Wrap .navbar-Links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 25px;
  transition: all 150ms ease-in;
}

.navbar .navbar-Wrap .navbar-Links ul li {
  opacity: 0;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  transition: all 150ms ease-in;
}

.navbar .navbar-Wrap .navbar-Links ul li a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 2.7rem;
  font-style: bold;
  color: white;
  -webkit-text-stroke: white 1px;
  font-weight: 600;
  transition: all 150ms ease-in;
}

.navbar .navbar-Wrap .navbar-Links ul li #nav-Icons {
  font-size: 3.1rem;
  font-style: bold;
  color: white;
  -webkit-text-stroke: rgb(88, 15, 15) 1px;
  font-weight: 600;
  transition: all 150ms ease-in;
}

.navbar .navbar-Wrap .navbar-Links ul li:hover {
  cursor: pointer;
}

.navbar .navbar-Wrap .navbar-Links ul li:hover a {
  color: rgb(82, 81, 81);
  -webkit-text-stroke: rgb(82, 81, 81) 1px;
}

.navbar .navbar-Wrap .navbar-Links ul li:hover #nav-Icons {
  color: rgb(82, 81, 81);
  -webkit-text-stroke: rgb(82, 81, 81) 1px;
}

.navbar .navbar-Wrap .navbar-Links ul li.active {
  display: flex;
  opacity: 1;
}

.navbar .nav-Btn-Line {
  position: absolute;
  height: 90%;
  background-color: black;
  width: 5px;
  top: 50%;
  left: 10%;
  transition: all 150ms ease-in;
  z-index: 1;
}

.navbar .nav-Btn-Line .nav-Btn-Box {
  background-color: black;
  height: 50px;
  border-radius: 15px 15px 5px 5px;
  width: 40px;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  transition: all 150ms ease-in;
  z-index: 1;
}

.navbar .nav-Btn-Line:hover {
  cursor: pointer;
}

.navbar.active {
  height: 20vh;
  transform: translateY(-55%);
}

.navbar.active .nav-Btn-Line.active {
  height: 65%;
}

.navbar.active .nav-Btn-Line.active .nav-Btn-Box {
  top: 90%;
}

@media screen and (max-width: 1024px) {
  .navbar .navbar-Wrap .navbar-Links ul {
    gap: 35px;
  }

  .navbar .navbar-Wrap .navbar-Links ul li a {
    font-size: 1.7rem;
  }

  .navbar .navbar-Wrap .navbar-Links ul li #nav-Icons {
    font-size: 2.1rem;
  }

  .navbar .nav-Btn-Line.active {
    height: auto;
  }

  .navbar .nav-Btn-Line.active .nav-Btn-Box {
    top: auto;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-Wrap .navbar-Links ul {
    gap: 25px;
  }

  .navbar .navbar-Wrap .navbar-Links ul li a {
    font-size: 1rem;
    -webkit-text-stroke: white 0;
  }

  .navbar .navbar-Wrap .navbar-Links ul li #nav-Icons {
    font-size: 1rem;
    -webkit-text-stroke: white 0;
  }

  .navbar .nav-Btn-Line.active {
    height: auto;
  }

  .navbar .nav-Btn-Line.active .nav-Btn-Box {
    top: auto;
  }
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.header .header-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.header .header-Wrap .header-Titles-Wrap {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header .header-Wrap .header-Titles-Wrap .header-Title-Text {
  font-size: 7rem;
  -webkit-text-stroke: white 7px;
  letter-spacing: 2px;
  margin: 0;
  filter: drop-shadow(5px 5px 1px black);
  font-family: "Nunito", sans-serif;
  color: white;
}

.header .header-Wrap .header-Titles-Wrap #header-Icons {
  color: #a79a2d;
  transform: scale(2);
  font-size: 15rem;
  filter: drop-shadow(5px 5px 1px black);
  transition: all 200ms ease-in-out;
  opacity: 0;
  position: absolute;
  padding: 0;
  margin: 0;
}

.header .header-Wrap .header-Titles-Wrap #header-Icons.active {
  transform: scale(1);
  opacity: 1;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .header .header-Wrap {
    gap: 2rem;
  }

  .header .header-Wrap .header-Titles-Wrap .header-Title-Text {
    font-size: 4rem;
  }

  .header .header-Wrap .header-Titles-Wrap #header-Icons {
    font-size: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .header .header-Wrap {
    gap: 0;
  }

  .header .header-Wrap .header-Titles-Wrap {
    height: 15%;
  }

  .header .header-Wrap .header-Titles-Wrap .header-Title-Text {
    font-size: 2rem;
    -webkit-text-stroke: white 2px;
  }

  .header .header-Wrap .header-Titles-Wrap #header-Icons {
    font-size: 5rem;
  }
}
