@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 14vh;
  background-color: #000;
  z-index: 10;
  transition: all 150ms ease-in;
  transform: translateY(0%);
}

.navbar .navbar-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  transition: all 150ms ease-in;
  padding: 15px;
}

.navbar .navbar-Wrap .navbar-Links {
  display: flex;
}

.navbar .navbar-Wrap .navbar-Links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 25px;
  transition: all 150ms ease-in;
}

.navbar .navbar-Wrap .navbar-Links ul li {
  opacity: 0;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  transition: all 150ms ease-in;
}

.navbar .navbar-Wrap .navbar-Links ul li a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 2.7rem;
  font-style: bold;
  color: white;
  -webkit-text-stroke: white 1px;
  font-weight: 600;
  transition: all 150ms ease-in;
}

.navbar .navbar-Wrap .navbar-Links ul li #nav-Icons {
  font-size: 3.1rem;
  font-style: bold;
  color: white;
  -webkit-text-stroke: rgb(88, 15, 15) 1px;
  font-weight: 600;
  transition: all 150ms ease-in;
}

.navbar .navbar-Wrap .navbar-Links ul li:hover {
  cursor: pointer;
}

.navbar .navbar-Wrap .navbar-Links ul li:hover a {
  color: rgb(82, 81, 81);
  -webkit-text-stroke: rgb(82, 81, 81) 1px;
}

.navbar .navbar-Wrap .navbar-Links ul li:hover #nav-Icons {
  color: rgb(82, 81, 81);
  -webkit-text-stroke: rgb(82, 81, 81) 1px;
}

.navbar .navbar-Wrap .navbar-Links ul li.active {
  display: flex;
  opacity: 1;
}

.navbar .nav-Btn-Line {
  position: absolute;
  height: 90%;
  background-color: black;
  width: 5px;
  top: 50%;
  left: 10%;
  transition: all 150ms ease-in;
  z-index: 1;
}

.navbar .nav-Btn-Line .nav-Btn-Box {
  background-color: black;
  height: 50px;
  border-radius: 15px 15px 5px 5px;
  width: 40px;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  transition: all 150ms ease-in;
  z-index: 1;
}

.navbar .nav-Btn-Line:hover {
  cursor: pointer;
}

.navbar.active {
  height: 20vh;
  transform: translateY(-55%);
}

.navbar.active .nav-Btn-Line.active {
  height: 65%;
}

.navbar.active .nav-Btn-Line.active .nav-Btn-Box {
  top: 90%;
}

@media screen and (max-width: 1024px) {
  .navbar .navbar-Wrap .navbar-Links ul {
    gap: 35px;
  }

  .navbar .navbar-Wrap .navbar-Links ul li a {
    font-size: 1.7rem;
  }

  .navbar .navbar-Wrap .navbar-Links ul li #nav-Icons {
    font-size: 2.1rem;
  }

  .navbar .nav-Btn-Line.active {
    height: auto;
  }

  .navbar .nav-Btn-Line.active .nav-Btn-Box {
    top: auto;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-Wrap .navbar-Links ul {
    gap: 25px;
  }

  .navbar .navbar-Wrap .navbar-Links ul li a {
    font-size: 1rem;
    -webkit-text-stroke: white 0;
  }

  .navbar .navbar-Wrap .navbar-Links ul li #nav-Icons {
    font-size: 1rem;
    -webkit-text-stroke: white 0;
  }

  .navbar .nav-Btn-Line.active {
    height: auto;
  }

  .navbar .nav-Btn-Line.active .nav-Btn-Box {
    top: auto;
  }
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.header .header-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.header .header-Wrap .header-Titles-Wrap {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header .header-Wrap .header-Titles-Wrap .header-Title-Text {
  font-size: 7rem;
  -webkit-text-stroke: white 7px;
  letter-spacing: 2px;
  margin: 0;
  filter: drop-shadow(5px 5px 1px black);
  font-family: "Nunito", sans-serif;
  color: white;
}

.header .header-Wrap .header-Titles-Wrap #header-Icons {
  color: #a79a2d;
  transform: scale(2);
  font-size: 15rem;
  filter: drop-shadow(5px 5px 1px black);
  transition: all 200ms ease-in-out;
  opacity: 0;
  position: absolute;
  padding: 0;
  margin: 0;
}

.header .header-Wrap .header-Titles-Wrap #header-Icons.active {
  transform: scale(1);
  opacity: 1;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .header .header-Wrap {
    gap: 2rem;
  }

  .header .header-Wrap .header-Titles-Wrap .header-Title-Text {
    font-size: 4rem;
  }

  .header .header-Wrap .header-Titles-Wrap #header-Icons {
    font-size: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .header .header-Wrap {
    gap: 0;
  }

  .header .header-Wrap .header-Titles-Wrap {
    height: 15%;
  }

  .header .header-Wrap .header-Titles-Wrap .header-Title-Text {
    font-size: 2rem;
    -webkit-text-stroke: white 2px;
  }

  .header .header-Wrap .header-Titles-Wrap #header-Icons {
    font-size: 5rem;
  }
}

.meals {
  height: clamp(400px, 100%, 1000px);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
}

.meals .meals-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.meals .meals-Wrap .meals-Top {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.meals .meals-Wrap .meals-Top .meals-Top-Title-Wrap {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.meals .meals-Wrap .meals-Top .meals-Top-Title-Wrap .header-Title-Text {
  font-size: 7rem;
  -webkit-text-stroke: white 5px;
  letter-spacing: 2px;
  margin: 0;
  filter: drop-shadow(5px 5px 1px black);
  font-family: "Nunito", sans-serif;
  color: white;
}

.meals .meals-Wrap .meals-Bottom {
  width: 100%;
  height: 70%;
  margin-bottom: 5rem;
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book {
  height: 450px;
  width: 250px;
  background-color: #a79a2d;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  transform: rotate(1deg);
  position: relative;
  transition: all 550ms ease-in-out;
  filter: drop-shadow(15px 15px 15px black);
  margin: 1rem;
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book .meal-Book-Img-Wrap {
  height: 50%;
  width: 100%;
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book .meal-Book-Img-Wrap .meal-Book-Img {
  height: 100%;
  object-fit: cover;
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book .meal-Book-Texts-Wrap .meal-Book-Name {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  -webkit-text-stroke: black 1px;
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book .meal-Book-Texts-Wrap .meal-Book-Btn {
  width: 150px;
  height: 35px;
  background-color: #333;
  border-radius: 15px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  transform: rotate(0.5deg);
  -webkit-text-stroke: #000 1px;
  transition: all 250ms ease-in-out;
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book .meal-Book-Texts-Wrap .meal-Book-Btn:hover {
  cursor: pointer;
  background-color: #818181;
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book::before {
  position: absolute;
  content: "";
  left: -10px;
  bottom: 5px;
  background-color: #8f8317;
  height: 100%;
  width: 10px;
  transform: skewY(40deg);
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book::after {
  position: absolute;
  content: "";
  top: -10px;
  left: -5px;
  background-color: #8f8317;
  height: 10px;
  width: 100%;
  transform: skewX(40deg);
}

.meals .meals-Wrap .meals-Bottom .meals-Bottom-Wrap .meal-Book:hover {
  cursor: pointer;
  transform: translateY(-5%);
}

@media screen and (max-width: 768px) {
  .meals .meals-Wrap .meals-Top .meals-Top-Title-Wrap .header-Title-Text {
    font-size: 2.5rem;
    -webkit-text-stroke: white 3px;
  }
}

.menu {
  height: clamp(500px, 100%, 1500px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.menu .menu-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.menu .menu-Wrap .menu-Top {
  margin-top: 5rem;
  height: 20%;
  width: 100%;
  margin-bottom: 5rem;
}

.menu .menu-Wrap .menu-Top .menu-Top-Title-Wrap .menu-Title-Text {
  font-size: 7rem;
  -webkit-text-stroke: white 7px;
  letter-spacing: 2px;
  margin: 0;
  filter: drop-shadow(5px 5px 1px black);
  font-family: "Nunito", sans-serif;
  color: white;
}

.menu .menu-Wrap .menu-Bottom {
  height: 70%;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card {
  margin: 1rem;
  height: 250px;
  width: 400px;
  border: solid white 2px;
  box-shadow: 0.2rem 0.3rem #2748ff, 0.3rem 0.4rem #851212, 0.4rem 0.5rem #838512;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: all 250ms ease-in-out;
  overflow: hidden;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card .menu-Card-Imgs {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card .menu-Card-Title-Wrap {
  width: 90%;
  text-align: start;
  opacity: 0;
  transition: all 250ms ease-in-out;
  backdrop-filter: brightness(100%) blur(0);
  position: relative;
  z-index: 2;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card .menu-Card-Title-Wrap .menu-Card-Text-1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  color: white;
  backdrop-filter: brightness(100%) blur(0);
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card .menu-Card-Title-Wrap .menu-Card-Text-2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 4px;
  color: white;
  font-weight: 500;
  backdrop-filter: brightness(100%) blur(0);
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0%;
  height: 0%;
  left: 0;
  z-index: 1;
  filter: blur(55px);
  background-color: rgba(36, 36, 36, 0.678);
  transition: all 250ms ease-in-out;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card::after {
  content: "";
  position: absolute;
  top: 3rem;
  height: 2px;
  width: 0%;
  z-index: 2;
  left: 0;
  background-color: white;
  transition: all 500ms ease-in-out;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card:hover {
  box-shadow: 0.2rem 0.5rem 0.4rem #2748ff, 0.3rem 0.5rem 0.5rem #851212, 0.4rem 0.5rem 0.6rem #838512;
  transform: translateY(-5%);
  cursor: pointer;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card:hover .menu-Card-Title-Wrap {
  opacity: 1;
  position: relative;
  z-index: 15;
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card:hover::before {
  width: 100%;
  height: 100%;
  filter: blur(100);
}

.menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap .menu-Card:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .menu .menu-Wrap .menu-Top .menu-Top-Title-Wrap .menu-Title-Text {
    font-size: 4rem;
    -webkit-text-stroke: white 2px;
  }

  .menu .menu-Wrap .menu-Bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .menu .menu-Wrap .menu-Bottom .menu-Bottom-Wrap {
    height: 95%;
    width: 95%;
  }
}
